
import os

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
BASE_DIR = os.path.dirname(os.path.dirname(os.path.abspath(__file__)))

# create a secret key for this django instance
SECRET_KEY = 'add_secret_key'

# add DATABASES if different from a single sqlite database
# DATABASES = {
#     'default': {
#         'ENGINE': 'django.db.backends.sqlite3',
#         'NAME': os.path.join(BASE_DIR, 'db.sqlite3'),
#     },
#     'patient_data': {
#         'ENGINE': 'django.db.backends.sqlite3',
#         'NAME': os.path.join(BASE_DIR, 'patient_data.sqlite3'),
#     },
# }

# for multi-database systems, add your database router
# DATABASE_ROUTERS = ['project.routers.CustomDatabaseRouter']

# set the STATIC_ROOT where you want static files to be stored
STATIC_ROOT = "/_static"

# set CHI_AUTH url and access token if you want to accept CHI_AUTH passwords (default)
CHI_AUTH_API_ACCESS_TOKEN = 'get_access_token'
CHI_AUTH_URL = 'https://chi-dev.uc.edu/auth/'
CHI_AUTH_AUTOCREATE_CHI_AUTH_USER = False
CHI_AUTH_AUTOCREATE_LOCAL_USER = False
CHI_AUTH_CHECK_SYSTEMS = 'local, ucad'

# for systems using redcap_importer, set API tokens
# REDCAP_API_TOKENS = {
#         'myproject': 'mytoken',
# }
